body {
    background-color: #b3f5c9;
    font-family: 'Poppins', serif;
}

#title {
    display:grid;
    place-items:center;
    font-size: 35px;
    margin-bottom: -50px;
}

.Audrey {
    display: grid;
    place-items: center;
    font-size: 20px;
    margin-bottom: 50px;
    width: 1000px;
    word-wrap: break-word;
    margin-left: 180px;
}


.Khoa {
    display: grid;
    place-items: center;
    font-size: 20px; 
    word-wrap: break-word;
    width: 1000px;
    margin-left: 180px;
}

#tutoringK {
    margin-bottom: -20px;
}

:root {
    --glow-color: hsl(186 30% 69%);

}

.glowing-btn {
    position: relative;
    color: var(--glow-color);
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
}
